---
import { Icon } from "astro-icon/components";
import Link from "./ui/link.astro";

const {
  floorplanImg,
  fpAlt,
  floorplanName,
  fpDescription,
  basePrice,
  fpBeds,
  fpBath,
  fpGarage,
  fpSqFt,
  floorplanLink,
  dfloorplanLink
} = Astro.props;
---

<div
    id="cardBG"
    class="max-w-xs min-w-[320px] rounded-xl overflow-hidden shadow-lg duration-700 hover:scale-105"
>
  <img class="w-full" 
  src={floorplanImg} 
  alt={fpAlt}
  loading="lazy"
   />

  <div class="px-6 py-4 rounded">
    <div class="flex flex-col sm:flex-row sm:justify-between mb-2">
        <div class="text-xl font-bold">
            {floorplanName}
        </div>
    </div>

    <div class="font-prose flex-1 flex items-center justify-between text-black">
      <div class="flex gap-1 align-top">
        <b>{fpSqFt}</b> SqFt
      </div>
      <div class="flex gap-1 align-top">
        <b>{fpBeds}</b> Bed
      </div>
    </div>

    <div class="font-prose flex-1 flex items-center justify-between text-black">
      <div class="flex gap-1 align-top">
        <b>{fpBath}</b> Bath
      </div>
      <div class="flex gap-1 align-top">
        <b>{fpGarage}</b> Garage
      </div>
    </div>
  </div>

  <div class="px-6 pt-4 hover:animate-pulse">
    <Link
      size="lg"
      style="outline"
      rel="noopener"
      href={floorplanLink}
      class="flex gap-1 items-center justify-center bg-[#ffca28] border-none drop-shadow-md"
      target="_blank"
    >
      <Icon name="mdi:set-square" />
      2D Floorplan
    </Link>
  </div>

  <div class="px-6 pt-3 pb-4 hover:animate-pulse">
    <Link
      size="lg"
      style="outline"
      rel="noopener"
      href={dfloorplanLink}
      class="flex gap-1 items-center justify-center bg-[#ffca28] border-none drop-shadow-md"
      target="_blank"
    >
      <Icon name="mdi:set-square" />
      3D Floorplan
    </Link>
  </div>
</div>

<style>
  #cardBG {
    background-color: rgba(248, 250, 252, 0.93) !important;
    color: black;
  }
</style>