---
import { Icon } from "astro-icon/components";

const {
  floorplanImg,
  fpAlt,
  floorplanName,
  fpBeds,
  fpBath,
  fpGarage,
  fpSqFt,
  floorplanLink,
  dfloorplanLink,
  fpWidth = "800",  //Safe defaults if forgotten
  fpHeight = "800"
} = Astro.props;
---

<div
  id="cardBG"
  class="relative w-full max-w-sm rounded-xl overflow-hidden 
  hover:scale-105 transition-transform duration-300 shadow-md"
>  
  <div class="relative">
    <img class="w-full object-cover aspect-[4/3]" src={floorplanImg} alt={fpAlt} loading="lazy" />
    
    <div class="absolute top-2 right-2 flex flex-col items-end space-y-2 z-10">
      
      {floorplanLink && (
        <div>
          <a
            href={floorplanLink}
            title="Open 2D Floorplan"
            class="pswp-link relative bg-white bg-opacity-80 text-black p-2 rounded-full hover:bg-opacity-100 transition flex items-center justify-center group"
            data-pswp-width={fpWidth}
            data-pswp-height={fpHeight}
            aria-label="View 2D floorplan popup"
          >
            <Icon
              name="mdi:set-square"
              class="w-12 h-12 text-[#ffca28] transition-all duration-300 rounded-lg p-1 group-hover:scale-110"
            />
            <span class="absolute text-sm font-bold select-none text-slate-800">2D</span>
          </a>
        </div>
      )}

      {dfloorplanLink && (
        <div>
          <a
            href={dfloorplanLink}
            title="Open 3D Floorplan"
            class="pswp-link relative bg-white bg-opacity-80 text-black p-2 rounded-full hover:bg-opacity-100 transition flex items-center justify-center group"
            data-pswp-width={fpWidth}
            data-pswp-height={fpHeight}
            aria-label="View 3D floorplan popup"
          >
            <Icon
              name="mdi:set-square"
              class="w-12 h-12 text-[#ffca28] transition-all duration-300 rounded-lg p-1 group-hover:scale-110"
            />
            <span class="absolute text-sm font-bold select-none text-slate-800">3D</span>
          </a>
        </div>
      )}
    </div>
  </div>

  <div class="absolute top-2 left-2 pointer-events-none">
    <div class="text-lg font-bold bg-white/95 px-3 py-1 rounded-md text-black shadow-sm">
      {floorplanName}
    </div>
  </div>
  
  <div class="px-6 py-4 space-y-2">
    <div class="font-prose flex items-center justify-between text-black text-sm">
      <div class="flex gap-1"><b>{fpSqFt}</b> SqFt</div>
      <div class="flex gap-1"><b>{fpBeds}</b> Bed</div>
    </div>
    <div class="font-prose flex items-center justify-between text-black text-sm">
      <div class="flex gap-1"><b>{fpBath}</b> Bath</div>
      <div class="flex gap-1"><b>{fpGarage}</b> Garage</div>
    </div>
  </div>
</div>

<style>
  #cardBG {
    background-color: rgba(248, 250, 252, 0.93) !important;
    color: black;
  }
</style>