---
import { Icon } from "astro-icon/components";
import Link from "./ui/link.astro";

const {
  floorplanImg,
  fpAlt,
  floorplanName,
  fpBeds,
  fpBath,
  fpGarage,
  fpSqFt,
  floorplanLink,
  dfloorplanLink
} = Astro.props;
---

<div
  id="cardBG"
  class="max-w-xs min-w-[320px] rounded-xl overflow-hidden shadow-lg duration-700 hover:scale-105"
>
  <!-- Floorplan Image -->
  <img
    class="w-full"
    src={floorplanImg}
    alt={fpAlt}
    loading="lazy"
  />

  <!-- Floorplan Content -->
  <div class="px-6 py-4 rounded">
    <!-- Name -->
    <div class="flex flex-col sm:flex-row sm:justify-between mb-2">
      <div class="text-xl font-bold">
        {floorplanName}
      </div>
    </div>

    <!-- Stats Row 1 -->
    <div class="font-prose flex items-center justify-between text-black">
      <div class="flex gap-1 align-top">
        <b>{fpSqFt}</b> SqFt
      </div>

      <div class="flex gap-1 align-top">
        <b>{fpBeds}</b> Bed
      </div>
    </div>

    <!-- Stats Row 2 -->
    <div class="font-prose flex items-center justify-between text-black">
      <div class="flex gap-1 align-top">
        <b>{fpBath}</b> Bath
      </div>

      <div class="flex gap-1 align-top">
        <b>{fpGarage}</b> Garage
      </div>
    </div>
  </div>

  <!-- Floorplan Buttons -->
  <div class="px-6 pt-4 pb-4 flex gap-2">
    <Link
      size="sm"
      style="outline"
      rel="noopener"
      href={floorplanLink}
      class="flex-1 flex gap-1 items-center justify-center bg-[#ffca28] border-none hover:animate-pulse"
      target="_blank"
    >
      <Icon name="mdi:set-square" />
      2D
    </Link>

    <Link
      size="sm"
      style="outline"
      rel="noopener"
      href={dfloorplanLink}
      class="flex-1 flex gap-1 items-center justify-center bg-[#ffca28] border-none hover:animate-pulse"
      target="_blank"
    >
      <Icon name="mdi:set-square" />
      3D
    </Link>
  </div>
</div>

<style>
  #cardBG {
    background-color: rgba(248, 250, 252, 0.93) !important;
    color: black;
  }
</style>