---
import { Icon } from "astro-icon/components";
import Link from "./ui/link.astro";

const { 
    listingImg, listingAlt, listingAddress, listingCityZip, 
    listingPrice, lBeds, lBath, lGarage, lsqFt, 
    listingLink, priceUpdate, videoTourLink, floorplan2D, floorplan3D,
    fpWidth = "1200",
    fpHeight = "900"
} = Astro.props;
---

<div
  id="cardBG"
  class="relative w-full max-w-sm rounded-xl overflow-hidden shadow-lg transition-transform duration-300 hover:scale-105 flex flex-col h-full"
>
  <div class="relative">
    <img class="w-full object-cover aspect-[4/3]" src={listingImg} alt={listingAlt || "Real estate property listing picture"} loading="lazy" />

    <div class="absolute top-2 right-2 flex flex-col items-end space-y-2 z-10">
      {videoTourLink && (
        <a
          href={videoTourLink}
          target="_blank"
          rel="noopener"
          class="bg-black bg-opacity-50 p-2 rounded-full hover:bg-opacity-75 transition group"
          aria-label="Watch video tour"
        >
          <Icon
            name="fluent:video-clip-20-filled"
            class="w-10 h-10 drop-shadow-lg text-white group-hover:text-[#ffca28] transition-colors duration-300"
          />
        </a>
      )}

      {floorplan2D && (
        <div>
          <a
            href={floorplan2D}
            title="Open 2D Floorplan"
            class="pswp-link relative bg-white bg-opacity-80 text-black p-2 rounded-full hover:bg-opacity-100 transition flex items-center justify-center group"
            data-pswp-width={fpWidth}
            data-pswp-height={fpHeight}
            aria-label="View 2D floorplan popup"
          >
            <Icon
              name="mdi:set-square"
              class="w-12 h-12 text-[#ffca28] transition-all duration-300 rounded-lg p-1 group-hover:scale-125"
            />
            <span class="absolute text-sm font-bold select-none text-slate-800">2D</span>
          </a>
        </div>
      )}

      {floorplan3D && (
        <div>
          <a
            href={floorplan3D}
            title="Open 3D Floorplan"
            class="pswp-link relative bg-white bg-opacity-80 text-black p-2 rounded-full hover:bg-opacity-100 transition flex items-center justify-center group"
            data-pswp-width={fpWidth}
            data-pswp-height={fpHeight}
            aria-label="View 3D floorplan popup"
          >
            <Icon
              name="mdi:set-square"
              class="w-12 h-12 text-[#ffca28] transition-all duration-300 rounded-lg p-1 group-hover:scale-125"
            />
            <span class="absolute text-sm font-bold select-none text-slate-800">3D</span>
          </a>
        </div>
      )}
    </div>
  </div>

  <div class="px-6 py-4 flex-1 flex flex-col justify-between">
    <div>
      <div class="flex justify-between items-center text-xl mb-3">
        <b>{listingPrice}</b>
        {priceUpdate && (
          <span id="badge" class="whitespace-nowrap rounded-full px-3 py-1 text-xs font-semibold uppercase tracking-wider font-prose">
            {priceUpdate}
          </span>
        )}
      </div>

      <div class="space-y-2 text-slate-800 text-sm">
        <div class="font-prose flex items-center justify-between">
          <div class="flex gap-1"><b>{lBeds}</b> Bed</div>
          <div class="flex gap-1"><b>{lBath}</b> Bath</div>
        </div>

        <div class="font-prose flex items-center justify-between">
          <div class="flex gap-1"><b>{lsqFt}</b> SqFt</div>
          <div class="flex gap-1"><b>{lGarage || "No Garage"}</b></div>
        </div>
      </div>

      <div class="pt-4 text-slate-700 font-prose text-sm leading-relaxed">
        <div>{listingAddress}</div>
        <div class="text-slate-500">{listingCityZip}</div>
      </div>
    </div>

    <div class="pt-6 hover:animate-pulse">
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href={listingLink}
        class="w-full flex gap-1 items-center justify-center bg-[#ffca28] border-none drop-shadow-md text-black font-semibold"
        target="_blank"
      >
        <Icon name="fluent:real-estate-20-filled" class="w-5 h-5" />
        View Listing
      </Link>
    </div>
  </div>
</div>

<style>
  #cardBG {
    background-color: rgba(248, 250, 252, 0.93) !important;
    color: black;
  }
  #badge {
    color: #00a877;
    background-color: rgba(0, 168, 119, 0.1);
  }
</style>